
.c-main {
    display: flex;
    flex-direction: column;
    background-color: $background;
    padding: 0%;
    margin: 10%;
    color: $titulosc;
    border-radius: 15px;
    @include lg{
        height: 600px;
        margin: 10%;
        flex-direction: row-reverse;
    }

    
}