/* ----------- COLORS -----------*/
$background: hsl(244, 38%, 16%) ;
$accent: hsl(277, 64%, 61%);
$titulosc: hsl(0, 0%, 100%);
$parrafoc: hsla(0, 0%, 100%, 0.75);
$statc: hsla(0, 0%, 100%, 0.6);

/*----------- END -----------*/



/* ----------- FONT -----------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$font-a:  'Inter', sans-serif;
$font-b: 'Lexend Deca', sans-serif;
/*----------- END -----------*/



/* ----------- WEIGHT -----------*/
$a: 700;
$b: 400;

/*----------- END -----------*/